/* Ajustes para mobile */
@media (max-width: 768px) {

    body {
        overflow-x: hidden;
        width: 100%;
    }

    .carrinho-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }

    .carrinho {
        width: 100%;
        max-width: 100%;
    }

    .produto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 10px 0;
        position: relative;
        overflow: hidden;
    }

    .produto .imagem {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .produto img {
        width: 90px;
        max-width: 100%;
    }

    .info {
        width: 100%;
        text-align: left;
        overflow: hidden;
    }

    .info h3 {
        margin-top: 10px;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .info p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .preco {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 14px;
        white-space: nowrap;
    }

    .actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .quantidade {
        flex-grow: 1;
        justify-content: center;
        padding: 5px 10px;
        margin-top: 0px;
    }

    .excluir {
        margin-top: 0;
        font-size: 12px;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .resumo {
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
        padding: 15px;
        overflow: hidden;
    }

    .resumo h2 {
        font-size: 16px;
        margin: 10px;
    }

    .detalhe p {
        font-size: 12px;
    }

    .finalizar,
    .continuar {
        font-size: 14px;
        padding: 8px;
        width: 100%;
        max-width: 100%;
    }

    .compre-junto h2 {
        font-size: 100%;
    }

    .footer-top {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .scroll-top {
        right: 10px;
    }

    .dicas-e-novidades-container {
        grid-template-columns: 1fr;
    }

    .dicas-e-novidades-card img {
        margin: 0 auto;
    }

    .dicas-e-novidades-texto h3 {
        font-size: 100%;
        margin: 0 auto;
        margin-bottom: 10px !important;
    }

    .dicas-e-novidades-texto p {
        margin: 0 auto;
        margin-bottom: 10px !important;
    }

    .dicas-e-novidades-botao {
        width: 100%;
    }

    .numeracao-paginas .pagina {
        padding: 0px;
    }

    .gravel-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .gravel-imagem {
        width: 100%;
        height: 100%;
    }

    .gravel-texto {
        padding: 20px;
        margin-bottom: 0px;
    }

    .gravel-texto hr {
        width: 80%;
        margin: 15px auto;
    }

    .gravel-texto h2 {
        font-size: 100%;
    }

    .nova-colecao h2 {
        width: 90%;
        font-size: 14px;
    }

    .container-potencia {
        flex-direction: column;
        text-align: center;
    }

    .imagem-potencia {
        text-align: center;
    }

    .imagem-potencia img,
    .imagem-potencia2 img {
        max-width: 100%;
    }

    .imagem-bicicleta img {
        width: 90%;
    }

    .espaco-banner {
        height: 200px;
    }

    .instrucoes {
        height: auto;
        padding: 40px 0;
    }

    .instrucoes-overlay {
        background: none;
    }

    .instrucoes-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .cuidados-lavagem h2 {
        font-size: 20px;
    }

    .cuidados-lista .item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cuidados-lista .item h3 {
        min-width: unset;
        margin-bottom: 5px;
    }

    .cuidados-lista .item p {
        margin-left: 0;
    }

    .cuide-bem {
        height: auto;
        padding: 30px;
        justify-content: center;
        text-align: center;
    }

    .cuide-bem-overlay {
        max-width: 90%;
    }

    .cuide-bem .pequeno-texto {
        font-size: 10px;
        line-height: 1.4;
    }

    .cuide-bem h2 {
        font-size: 18px;
        line-height: 1.3;
    }

    .cuide-bem h2 strong {
        font-size: 20px;
    }

    .garantia-grid {
        grid-template-columns: 1fr;
    }

    .garantia-grid ul {
        width: 100%;
    }

    .garantia-grid li {
        text-align: center;
    }

    .garantia-valida {
        padding: 0;
    }

    .garantia-produtos-grid {
        grid-template-columns: 1fr;
    }

    .garantia-importante {
        text-align: center;
    }

    .garantia-nao-valida .garantia-grid {
        grid-template-columns: 1fr;
    }

    .garantia-etapas {
        flex-direction: column;
        align-items: center;
    }

    .documentos-grid {
        flex-direction: column;
        align-items: center;
    }

    .documento {
        width: 100%;
    }

    .outras-duvidas {
        max-width: 100%;
    }

    .horarios-atendimento {
        max-width: 100%;
    }

    .nossas-tecnologias h2,
    .nossas-tecnologias p {
        font-size: 100%;
    }

    .unica-marca {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        max-width: 100%;
    }

    .unica-marca-conteudo,
    .unica-marca-texto {
        max-width: 100%;
    }

    .unica-marca h2 {
        font-size: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .unica-marca-texto p {
        font-size: 13px;
    }

    .forro-item {
        flex-direction: column;
        text-align: center;
    }

    .forro-imagem {
        max-width: 30% !important;
    }

    .forro-item img {
        max-width: 100%;
    }

    .forro-info {
        max-width: 100%;
    }

    .forro-icones {
        justify-content: center;
    }

    .conforto {
        font-size: 100%;
    }

    .acoes-listagem {
        margin: 20px 0px 20px 0px;
    }

    .bermudas-para-ciclismo h1 {
        font-size: 26px;
    }

    .bermudas-para-ciclismo .subtitulo {
        font-size: 12px;
    }

    .bermudas-para-ciclismo .descricao {
        font-size: 13px;
        text-align: left;
    }

    .revendedor-autorizado h2 {
        font-size: 100%;
    }

    .dados-loja {
        padding: 10px;
    }

    .dados-loja h3 {
        font-size: 16px;
        padding: 15px;
    }

    .opcoes-loja {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .opcao {
        width: 100%;
    }

    .campo-duplo,
    .campo-triple,
    .campo-quatro {
        flex-direction: column;
        gap: 10px;
    }

    .campo input,
    .campo select,
    .campo-duplo input,
    .campo-triple input,
    .campo-quatro input,
    .campo-quatro select {
        width: 100%;
    }

    .marcas-container,
    .upload-container {
        grid-template-columns: 1fr;
        flex-direction: column;
    }

    .upload-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .upload-btn {
        width: 100%;
        margin-top: 5px;
    }

    .mensagem-container textarea {
        height: 80px;
    }

    .recaptcha-container,
    .politica-termos {
        flex-direction: column;
        text-align: center;
    }

    .politica-termos {
        gap: 10px;
    }

    .botao-enviar {
        width: 100%;
    }

    .sala_imprensa {
        height: 200px;
    }

    .sala_imprensa h2 {
        font-size: 24px;
    }

    .sala_imprensa p {
        font-size: 12px;
    }

    .baixar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .baixar-botao {
        width: 100%;
        margin-top: 15px;
    }

    .botao-baixar {
        width: 100%;
        justify-content: center;
    }

    .beneficios-container {
        flex-direction: column;
        gap: 10px;
    }

    .beneficio {
        width: 100%;
    }

}

@media (max-width: 900px) {
    .produtos {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container2 {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
    }

    .footer-col2 {
        text-align: center;
        width: 100%;
    }

    .footer-col2 h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-col2 p,
    .footer-col2 ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Alinhamento da faixa de pagamento */
    .payment-icons2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .payment-icons2 img {
        margin: 0 auto;
    }

    /* Alinhamento da parte inferior */
    .footer-bottom2 {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer-logo2 {
        text-align: center;
    }

    .dashboard-minha-conta .header-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .dashboard-minha-conta .btn-sair {
        width: 50%;
    }

    .dashboard-minha-conta .main-area {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-minha-conta .sidebar {
        width: 100%;
        text-align: center;
    }

    .dashboard-minha-conta .content {
        text-align: center;
    }

    .dashboard-minha-conta .buttons {
        flex-direction: column;
    }

    .dashboard-minha-conta .title-border {
        display: block;
        text-align: center;
    }

    .dashboard-minha-conta .title-border::after {
        display: none;
    }

    .dados-cadastrais,
    .compras {
        width: 100%;
    }

    .main-content {
        flex-direction: column;
    }

    .compras {
        width: 100%;
    }

    .compras .item {
        flex-direction: column;
        align-items: flex-start;
    }

    .compras .cupom-container {
        flex-direction: column;
        gap: 10px;
    }

    .compras .aplicar {
        width: 100%;
        margin-left: 0;
    }

    .dados-cadastrais .flex-group {
        flex-direction: column;
        width: 100%;
    }

    .dados-cadastrais .input-group {
        width: 100%;
    }

    .texto-duvidas-frequentes {
        font-size: 100%;
        width: 90%;
        margin: 0 auto;
    }

    .duvida li {
        font-size: 13px;
        margin-left: 0 auto;
    }

    .outras-duvidas {
        max-width: 100%;
    }

    .horarios-atendimento {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .produtos {
        grid-template-columns: 1fr;
    }

    .prazo-devolucao {
        padding: 30px 15px;
    }

    .prazo-devolucao h2 {
        font-size: 24px;
    }

    .prazo-devolucao .descricao,
    .prazo-devolucao .destaque {
        font-size: 12px;
    }

    .botao-contato {
        padding: 10px 20px;
        font-size: 12px;
    }

    .bermudas {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 480px) {
    .instrucoes-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1366px) {
    .outras-duvidas {
        max-width: 100%;
    }

    .horarios-atendimento {
        max-width: 100%;
    }

    .bermudas {
        grid-template-columns: repeat(2, 1fr);
    }

    .sala_imprensa-overlay {
        background: none;
    }
}